.container {
  display: flex;
  flex-direction: column;
  background-color: #202329;
  color: #f3f4f4;
  min-height: 100%;
  padding: 32px 0;
  padding-bottom: 0;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 4vw;
  margin-bottom: 16px;

  .title {
    letter-spacing: 2px;
    font-size: 24px;
    line-height: 28px;
    font-weight: bold;
    margin-bottom: 4px;
  }

  .counter {
    font-size: 12px;
    line-height: 14px;
    color: #acacac;
  }

  .newContact {
    width: 36px;
    height: 36px;
    background-color: #017bff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    cursor: pointer;
  }
}

.list {
  background-color: #2a3035;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2vw 0;
  border-radius: 36px;

  .contact {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 2vw;
    border-radius: 16px;
    min-width: 80%;

    .group {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .avatar {
        width: 36px;
        height: 36px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 16px;
        border-radius: 50%;
        font-size: 24px;
        font-weight: 500;
        text-transform: capitalize;
      }

      .phone {
        font-size: 12px;
        line-height: 14px;
        color: #acacac;
        padding-left: 10px;
      }
    }

    .options {
      color: #f3f4f4;
      width: 36px;
      height: 36px;
      background-color: #2dc15f;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 12px;
      cursor: pointer;
      text-decoration: none;
    }
  }

  .contact:hover,
  .contact:active {
    background-color: #3a3e41;
  }
}

.noContact {
  text-align: center;
  font-size: 36px;
  font-weight: bold;
  letter-spacing: 2px;
  line-height: 40px;
  margin-top: 25vh;
}