<div class="container">
  <div class="header">
    <div class="text">
      <div class="title">Phonebook</div>
      <div class="counter">Contacts ({{contacts ? contacts.length : 0}})</div>
    </div>
    <div class="newContact">
      <mat-icon aria-hidden="false" fontIcon="add" (click)="add()"></mat-icon>
    </div>
  </div>
  <div class="list" *ngIf="contacts?.length">
    <div class="contact" *ngFor="let contact of contacts; let i = index">
      <div class="group">
        <div class="avatar" [ngStyle]="{'background-color': avatarColors[i]}">
          {{contact.name[0]}}
        </div>
        <div class="info">
          <div class="name">{{contact.name}}</div>
          <div class="phone">{{contact.number}}</div>
        </div>
      </div>
      <div class="options">
        <mat-icon aria-hidden="false" fontIcon="call"></mat-icon>
      </div>
    </div>
  </div>
  <div *ngIf="!contacts?.length" class="noContact">
    There are no contacts to show
  </div>
</div>