<div class="title">Add Contact</div>

<form [formGroup]="userForm" (ngSubmit)="onSubmit()" class="phonebookForm">
  <div class="inputError" *ngIf="userForm.get('name')?.touched && !userForm.get('name')?.valid">
    You must enter a name of at least 3 characters
  </div>
  <div class="form-group">
    <label for="name">
      <mat-icon aria-hidden="false" fontIcon="person"></mat-icon>
    </label>
    <input placeholder="Name" type="text" class="form-control" id="name" formControlName="name"
      [ngClass]="{'is-invalid': formErrors.name}">
  </div>

  <div class="inputError" *ngIf="userForm.get('number')?.touched && !userForm.get('number')?.valid && !userForm.get('number')?.hasError('pattern')">
    You must enter a number of at least 10 characters
  </div>
  <div class="inputError" *ngIf="userForm.get('number')?.touched && userForm.get('number')?.hasError('pattern')">
    Invalid mobile number
  </div>
  <div class="form-group">
    <label for="number">
      <mat-icon aria-hidden="false" fontIcon="call"></mat-icon>
    </label>
    <input placeholder="Number" type="text" class="form-control" id="number" maxlength="20" formControlName="number"
      [ngClass]="{'is-invalid': formErrors.number}">

    <div class="invalid-feedback" *ngIf="formErrors.number">
      <span>{{formErrors.number}}</span>
    </div>
  </div>

  <div class="inputError" *ngIf="userForm.get('email')?.touched && !userForm.get('email')?.valid">
    Enter a valid email address
  </div>
  <div class="form-group">
    <label for="email">
      <mat-icon aria-hidden="false" fontIcon="email"></mat-icon>
    </label>
    <input placeholder="Email" type="email" class="form-control" id="email" formControlName="email"
      [ngClass]="{'is-invalid': formErrors.email}">
    <div class="invalid-feedback" *ngIf="formErrors.email">
      <span>{{formErrors.email}}</span>
    </div>
  </div>

  <div class="actionButtons">
    <button type="submit" class="submit" [disabled]="!userForm.valid" (click)="dialogRef.close()">Submit</button>
    <button class="close" (click)="dialogRef.close()">Cancel</button>
  </div>
</form>