.head {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 60px;
  align-items: center;
  margin-bottom: 36px;

  .options {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    padding: 0;
    width: -webkit-fill-available;
    top: -40px;

    .back,
    .edit,
    .delete {
      width: 36px;
      height: 36px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 12px;
      color: #e1e1e3;
      cursor: pointer;
    }

    .back {
      background-color: #e1e1e3;
      color: #202329;
    }

    .group {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .edit {
        background-color: #017bff;
      }

      .delete {
        background-color: #f41f43;
        margin-left: 24px;
      }
    }

  }

  .avatar {
    width: 42px;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 24px;
    font-weight: 500;
    text-transform: capitalize;
    background-color: blue;
    margin-bottom: 16px;
  }

  .name {
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 2px;
    text-align: center;
  }
}

.rrss {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 32px;

  .call,
  .email {
    width: 42px;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    color: #e1e1e3;
    text-decoration: none;
    border: 0;
    outline: 0;
  }

  .call {
    background-color: #2dc15f;
  }

  .email {
    margin-left: 36px;
    background-color: #7a43ff;
  }
}

.details {
  display: flex;
  flex-direction: column;
  padding: 36px;
  margin-bottom: 36px;
  background-color: #202329;
  border-radius: 24px;
  border: 1px solid #e1e1e3;

  .phone,
  .mail {
    color: #e1e1e3;
    font-size: 18px;
    letter-spacing: 1px;
    opacity: 0.9;
    line-height: 24px;
  }

  .mail {
    margin-top: 24px;
  }

  .form-group {
    display: flex;
    justify-content: center;
    padding: 0 15%;
    margin-bottom: 24px;
    align-items: center;

    label {
      width: 36px;
      height: 36px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 12px;
    }

    input {
      height: 36px;
      width: -webkit-fill-available;
      outline: 0;
      border: 1px solid #e1e1e3;
      border-radius: 12px;
      font-size: 16px;
      background-color: #202329;
      color: #f3f4f4;
      padding: 8px;
    }

    input::placeholder {
      font-size: 16px;
      color: #dadada;
    }
  }

  .actionButtons {
    display: flex;
    align-items: center;
    justify-content: center;

    .submit {
      margin-right: 4vw;
      background-color: #2dc15f;
    }

    .submit:disabled {
      opacity: 0.5;
      cursor: unset;
    }

    .close {
      background-color: #f41f43;
    }

    button {
      width: fit-content;
      outline: 0;
      border: 0;
      padding: 8px;
      border-radius: 8px;
      font-size: 16px;
      line-height: 18px;
      font-weight: bold;
      color: #f3f4f4;
      cursor: pointer;
    }
  }

  .inputError {
    padding: 0 23%;
    color: #f41f43;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 4px;
  }
}